main {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

	.chart {
		margin: 4rem;
		width: 100%;
		max-width: 600px;
		aspect-ratio: 16 / 9;
	}

	.html-canvas {
		position: relative;
	}
}